html, body, h1, h2, h3, p, span {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    list-style: none;
    color: #b1b5b8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b1b5b8;
}

nav ul {
    float: left;
}

nav ul li {
    margin: 10px 0px;
    padding: 0 12px 0 12px;
    display: inline-block;
}

nav img {
    height: 24px;
    float: left;
    margin: 0;
    display: inline-block;
}

nav input {
    width: 30%;
    height: 38px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: 400;
    padding: 0 48px;
    color: #1b2126;
    font-size: 16px;
    display: inline-block;
    background-image: url(../img/lupa.png);
    background-color: #5c6269;
    background-repeat: no-repeat;
    background-position: 14px; 
}

nav input placeholder {
    color: #1b2126;
}

::-webkit-input-placeholder {
    color: #1b2126;
}

:-moz-placeholder {
    color: #1b2126;
}

::-moz-placeholder {
    color: #1b2126;
}

:-ms-input-placeholder {
    color: #1b2126;
}

nav {
    font-size: 16.14px;
}
         
h1 {
    font-size: 33px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 16px;
}

p {
    font-weight: 600;
    font-size: 16px;
}

iframe {
    margin: -4px 0;
    border: 1px solid #000000;
    background-color: #000000;
}

aside {
    margin: 0;
    box-sizing: border-box;
    padding-right: 25px;
    border-right: 1px solid #ebeef0;
    width: 270px;
}
            
aside img:nth-child(1) {
    margin: 0;
}

aside img {
    margin: 18px 0 21px 0;
}
            
section {
    flex: 9;
    margin-left: 15px;
}

hr {
    border: 1px solid #ebeef0;
    margin: 0 0 15px 0;
}
          
#filtro {
    display: flex;
    flex: 3;
}
            
#filtro, #encontrados div p:nth-child(1), #encontrados p {
    color: #5c6269; 
}
            
#encontrados div {
    flex: 12;
    margin-right: 10px;
    text-align: right;
    float: right;
}
            
#encontrados div p:nth-child(1) {
    display: inline-block;
}
            
#encontrados img {
    float: right;
    padding: 10px;
    display: inline-block;
}

#encontrados span {
    color: #1b2126;
    margin-left: 10px;
    font-style: 700;
}
            
#filtro, #encontrados {
    margin: 27px 0 35px 0;
}

#encontrados span {
    margin-left: 14px;
}
            
#filtro img {
    margin-right: 32px;
    height: 25px;
    width: 27px;
}
            
#filtro p {
    margin: 0;
}
            
#filtro p:nth-child(3) {
    flex: 12;
    color: #f3644f;
    text-align: right;
    cursor: pointer;
}

#generos .generos:nth-child(2) {
    margin-right: 0px;
}

#similares p:nth-child(1) {
    color: #5c6167;
    margin: 22px 0 8px 0;
}

#generos {
    margin-top: 15px;
}

.ventana {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    margin: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.filtro {
    display: flex;
    margin-top: -10px;
    padding-bottom: 20px;
    align-content: space-around;
}

.boton {
    z-index: 1;
    height: 22px;
    width: 47px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    border-radius: 11px;
}

.azul {
    background-color: #2883d8;
}

.verde {
    background-color: #3cb878;
}

.linea {
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background-color: #e9ecee;
}

.menu, nav {
    height: 68px;
    width: 100%;
    background-color: #1b2126;
    box-sizing: border-box;
}

.foto {
    flex: 3;
    width: 269px;
    height: 403px;
    background-color: rgb(0,0,0);
}

.foto:hover {
    transition: .3s ease;
    opacity: 0.5;
}

.similar {
    margin: 30px 14px;
    height: 380px;
    width: 270px;
    display: inline-block;
}

.similar div {
    width: 270px;
    height: 240px;
}

.similar:nth-child(1) {
    margin-left: 0;
}

.similar:nth-child(4) {
    margin-right: 0;
}
            
.similar h2 {
    text-align: center;
    margin: 15px 0;
}

.capa:hover {
    transition: .3s ease;
    background-color: rgb(0,0,0);
}

.capa:hover .datos {
    transition: .3s ease;
    opacity: 1;
}

.capa {
    z-index: 1;
    width: 269px;
    height: 403px;
    font-size: 12px;
    margin: 13px;
    display: inline-block;
}

.datos {
    position: absolute;
    margin-top: 360px;
    z-index: 2;
    height: 43px;
    width: 269px;
    opacity: 0;
    color: #ffffff;
    font-size: 12px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}
            
.dato {
    padding: 2px 0;
    margin: 0 7px;
    box-sizing: border-box;
}

.dato:nth-child(3) {
    margin-right: 0;
}
            
.dato img, .dato i {
    float: left;
    margin-right: 6px;
}
            
.dato p {
    float: right;
    padding: 2;
    color: #919297;
}

.dato i {
    font-size: 20px;
    color: #b1b5b8;
}
            
.icono {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.ayo {
    height: 19px;
    padding: 0 5px;
    margin: 7px 0;
    margin-right: 0px;
    box-sizing: border-box;
    font-weight: 700;
    color: #ebeef0;
    border-radius: 20px;
    border: 2px solid #ebeef0;
    display: inline-block;
}

.ayo p {
    font-size: 14px;
    line-height: 1.2;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
}
            
.titulo {
    flex: 3;
    line-height: 2;
}

.ventana {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
}
            
.ventana-contenido {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 23px 26px;
    border: 1px solid #888;
    width: 1224px;
    float: right;
    color: #000000;
    box-sizing: border-box;
    -webkit-animation: fadeInRight 1s;
    -webkit-animation-timing-function: linear;
    animation: fadeInRight 1s;
    animation-timing-function: linear;
}
            
.ventana-contenido aside {
    border-right: 0px solid #ffffff;
    width: auto;
}

.ventana-contenido section {
    margin-left: 0;
}
         
.ventana-contenido .foto {
    margin: 0;
    width: 440px;
    height: 660px;
}
            
.ventana-contenido h2 {
    flex: 3;
    color: #000000;
}

.ventana-contenido section h2 {
    line-height: 0.9;
    margin-bottom: 20px;
}
          
.ventana-contenido hr {
    margin: 7px 0 15px 0;
}

.ventana-contenido .titulo {
    margin-top: 5px;
}
            
.titulo span, .sipnosis span, .subtitulo, .ventana-contenido p {
    color: #919297;
    font-weight: 400;
}

.sipnosis span:nth-child(2), .titulo span {
    font-size: 20px;
}

.sipnosis span {
    font-size: 18px;
}
            
.subtitulo p {
    margin: 12px 0 29px 0;
    font-weight: 700;
}
            
.subtitulo a {
    text-decoration: underline;
}

.subtitulo ul li {
    color: #919297;
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
}

.subtitulo ul li span {
    font-weight: 700;
}

.subtitulo ul {
    padding: 0;
}
            
.parrafo p {
    margin: 18px 0;
    line-height: 1.8;
    height: 162px;
    overflow: scroll;
}
            
.close {
    color: #f3644f;
    border: 3px solid #f3644f;
    border-radius: 46px;
    height: 46px;
    width: 46px;
    float: right;
    line-height: 1;
    font-size: 38px;
    box-sizing: border-box;
    text-align: center;
}

.close:checked + label {
    display: none;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}
            
.generopelicula {
    background-color: #e8ecef;
    border-radius: 3px;
    height: 28px;
    margin-right: 4px;
    padding: 4px 10px;
    display: inline-block;
    box-sizing: border-box;
}
            
.generopelicula p {
    font-size: 14px;
    color: #5e6369;
}

#generos div a {
    display: inline-block;
    width: 116px;
    margin: 4.5px 0;
    margin-right: 6px;
    padding: 3px;
    height: 31px;
    color: #8e9297;
    border: 2px solid #ebeef0;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
}

#generos div a:hover {
    color: #2883d8;
    border: 2px solid #2883d8;
}
            
.categorias {
    flex: 3;
    float: left;
    display: inline-block;
}
            
.datos2, .dato {
    display: inline-block;
}

.animated {
    -webkit-animation:aniload 1s;
    -moz-animation:aniload 1s;
    -ms-animation:aniload 1s;
    -o-animation:aniload 1s;
    animation:aniload 1s;
}
            
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}
            
@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
}