<div class="ventana">
    <div class="ventana-contenido">
        <div class="flex-container">
            <h1 class="titulo">{{film.title}}
            <span>{{film.year}}</span></h1>
            <a href="window.history.back();">
                <span class="close">&times;</span>
            </a>
        </div>
            <hr>
                        
        <div class="flex-container">
            <aside>
                <img class="foto" src={{film.photo}}>
            </aside>
                            
            <section>
                <div class="sipnosis flex-container">
                    <h2>Sipnosis</h2>
                    <span>{{film.runtime}}</span>
                </div>
                <div class="flex-container">
                    <div class="categorias">
                        <div class="generopelicula" ng-repeat="genre in film.genres track by genre.id">
                            <p>{{genre.name}}</p>
                        </div>
                    </div>
                    <div class="datos2">
                        <div class="dato">
                            <img class="icono" src="img/favorito.png">
                            <p>{{film.database}}</p>
                        </div>
                        <div class="dato">
                            <img src="img/tomato.png">
                            <p>{{film.tomatoes}}</p>
                        </div>
                        <div class="dato">
                            <img src="img/palomitas.png">
                            <p>{{film.metracritic}}</p>
                        </div>
                    </div>
                </div>
                                
                <div class="parrafo">
                    <p>{{film.overview}} (C) {{film.production}}</p>
                                    
                    <h2>Trailer</h2>
                    <iframe width="703" height="342" src={{film.video}}>
                    </iframe>
                </div>
            </section>
                             
        </div>
        <div class="subtitulo">
            <p>{{subtitles | json}}</p>
            <ul>
                <li><span>Subs:</span></li>
                <span>{{subtitles.de}}</span>
                <a href="{{subtitle.url}}" ng-repeat="subtitle in subtitles track by subtitle.id"><li>{{subtitle.langcode}}</li></a>
            </ul>
        </div>
        <hr>
        <div id="similares">
            <h3>Películas similares</h3>

            <div class="flex-container">
                <a href="/film/{{film.id}}" class="similar" ng-repeat="film in similarFilms | limitTo:4 track by film.id">
                    <div ng-style="{'background-image': 'url({{film.photo}})', 'background-size': 'cover'}"></div>
                    <h2>{{film.title}}</h2>
                </a>
            </div>
        </div>
    </div>
</div>