<div class="menu">
    <nav class="wrapper flex-container">
        <a href="/"><img src="img/logo.png"></a>
            <ul>
                <a href="/best"><li>Mejor valoradas</li></a>
                <a href="/popularity"><li>Populares ahora</li></a>
                <a href="/coming"><li>Próximamente</li></a>
                <a href="/favorites"><li>Favoritos</li></a>
            </ul>
        <input type="text" placeholder="Encuentra tu película favorita" ng-model="searchPeli" ng-keypress="keyPress($event)">
    </nav>
</div>
<div class="wrapper flex-container">
    <aside>
        <div id="filtro" class="flex-container">
            <img src="img/filtro.png">
            <p>Filtrar</p>
            <p>Borrar</p>
        </div>
                
        <div class="flex-container">
            <div class="titulo">
                <p>Año</p>
            </div>
            <div class="ayo">
                <p>1979 - 2015</p>
            </div>
        </div>
        <div class="filtro">
            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
        </div>
        
        <div class="flex-container">
         <div class="titulo">
                <p>Valoración IMDB</p>
            </div>
            <div class="ayo">
                <p>0 - 5</p>
            </div>
        </div>
        <div class="filtro">
            <rzslider rz-slider-model="sliderVote.min" rz-slider-high="sliderVote.max" rz-slider-options="sliderVote.options"></rzslider>
        </div>
                
                
        <div class="flex-container">
            <div class="titulo">
                <p>Géneros</p>
            </div>
        </div>
                
        <div id="generos">
            <div class="flex-container">
                <a href="" class="generos" ng-click="searchGenre(28)"><p>Acción</p></a>
                <a href="" class="generos" ng-click="searchGenre(12)"><p>Aventura</p></a>
                <a href="" class="generos" ng-click="searchGenre(16)"><p>Animación</p></a>
                <a href="" class="generos" ng-click="searchGenre(35)"><p>Comedia</p></a>
                <a href="" class="generos" ng-click="searchGenre(80)"><p>Crimen</p></a>
                <a href="" class="generos" ng-click="searchGenre(99)"><p>Documental</p></a>
                <a href="" class="generos" ng-click="searchGenre(18)"><p>Drama</p></a>
                <a href="" class="generos" ng-click="searchGenre(10751)"><p>Familiar</p></a>
                <a href="" class="generos" ng-click="searchGenre(14)"><p>Fantasía</p></a>
                <a href="" class="generos" ng-click="searchGenre(36)"><p>Históricas</p></a>
                <a href="" class="generos" ng-click="searchGenre(27)"><p>Horror</p></a>
                <a href="" class="generos" ng-click="searchGenre(10402)"><p>Música</p></a>
                <a href="" class="generos" ng-click="searchGenre(9648)"><p>Misterio</p></a>
                <a href="" class="generos" ng-click="searchGenre(10749)"><p>Romance</p></a>
                <a href="" class="generos" ng-click="searchGenre(878)"><p>Ficción</p></a>
                <a href="" class="generos" ng-click="searchGenre(10770)"><p>TV Movies</p></a>
                <a href="" class="generos" ng-click="searchGenre(53)"><p>Thiller</p></a>
                <a href="" class="generos" ng-click="searchGenre(10752)"><p>Guerra</p></a>
                <a href="" class="generos" ng-click="searchGenre(37)"><p>Western</p></a>
            </div>
            </div>  
        </aside>

    <section>
        
            <div id="encontrados">
                <p><span>{{totalFilms}}</span> películas encontradas</p>
                <div>
                    <p>Ordenar</p>
                    <img src="img/arrowdown.png">
                </div>
            </div>
        
        
            <div class="capa" ng-repeat="film in films track by film.id">
                <div class="datos flex-container">
                    <div class="dato">
                        <img class="icono" src="img/favorito.png">
                        <p ng-click="filmDetails(film)">{{film.average}}%</p>
                    </div>

                    <div class="dato">
                        <i class="fa fa-heart-o" ng-click="addDesired(film)"></i>
                        <p>Favorito</p>
                    </div>

                    <div class="dato">
                        <i class="fa fa-eye"></i>
                        <a href="/film/{{film.id}}">
                            <p>Ver</p>
                        </a>
                    </div>
                </div>
                <img class="foto" src="{{film.photo}}">
            </div> 
        
    </section>
</div>
    <!--
ng-click="addDesired(film)"
ng-click="mostrarModal(film)"
<button ng-click="vm.openModal('custom-modal-1')">Open Modal 1</button>

<i class="fa fa-angle-left" style="font-size: 24px"></i>
<i class="fa fa-angle-right" style="font-size: 24px" ng-click="searchPeli(2)"></i>-->

<!--<button ng-click='toggleModal()'>Open Modal Dialog</button>
<div ng-show='modalShown' width='750px' height='60%'>
  <p>Modal Content Goes here<p>
</div>

<!--<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content' ng-transclude></div>
  </div>
</div>-->
                
                <!--<div class="ventana" id="popup" ng-show="showModal">
                    <div class="ventana-contenido">
                        <div class="flex-container" ng-show="showModal">
                            <h1 class="titulo">Interstellar
                            <span>2014</span></h1>
                            <a ng-click="vm.closeModal('popup');"><span class="close">&times;</span></a>
                        </div>
                        <hr>
                        
                        <div class="flex-container">
                            <aside>
                                <img class="foto" src="img/interstellar.jpg">
                            </aside>
                            
                            <section>
                                <div class="sipnosis flex-container">
                                    <h2>Sipnosis</h2>
                                    <span>2h15m</span>
                                </div>
                                <div class="flex-container">
                                    <div class="categorias">
                                        <div class="generopelicula">
                                            <p>Aventura</p>
                                        </div>
                                        <div class="generopelicula">
                                            <p>Sci-Fi</p>
                                        </div>
                                    </div>
                                    <div class="datos2">
                                        <div class="dato">
                                            <img class="icono" src="img/favorito.png">
                                            <p>8.4</p>
                                        </div>
                                        <div class="dato">
                                            <img src="img/tomato.png">
                                            <p>77%</p>
                                        </div>
                                        <div class="dato">
                                            <img src="img/palomitas.png">
                                            <p>77%</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="parrafo">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore magnam reprehenderit unde culpa maiores dolor, accusamus voluptatem asperiores, et repudiandae perferendis modi doloribus qui mollitia at saepe ullam deleniti!</p>
                                    
                                    <h2>Trailer</h2>
                                    <iframe width="703" height="342" src="https://www.youtube.com/embed/Rt2LHkSwdPQ">
                                    </iframe>
                                </div>
                            </section>
                             
                        </div>
                        <div class="subtitulo">
                            <ul>
                                <li><span>Subs:</span></li>
                                <a href="#"><li>en</li></a>
                                <a href="#"><li>es</li></a>
                                <a href="#"><li>de</li></a>
                            </ul>
                        </div>
                        <hr>
                        <div id="similares">
                            <h3>Películas similares</h3>

                            <div class="flex-container">
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>-->
