<!--<div class="ventana" id="popup">
    <div class="ventana-contenido">-->
        <div class="flex-container">
            <h1 class="titulo">{{film.title}}
            <span>2014</span></h1>
            <a href="/"><span class="close">&times;</span></a>
        </div>
            <hr>
                        
        <div class="flex-container">
            <aside>
                <img class="foto" src={{film.photo}}>
            </aside>
                            
            <section>
                <div class="sipnosis flex-container">
                    <h2>Sipnosis</h2>
                    <span>2h15m</span>
                </div>
                                <div class="flex-container">
                                    <div class="categorias">
                                        <div class="generopelicula">
                                            <p>Aventura</p>
                                        </div>
                                        <div class="generopelicula">
                                            <p>Sci-Fi</p>
                                        </div>
                                    </div>
                                    <div class="datos2">
                                        <div class="dato">
                                            <img class="icono" src="img/favorito.png">
                                            <p>8.4</p>
                                        </div>
                                        <div class="dato">
                                            <img src="img/tomato.png">
                                            <p>77%</p>
                                        </div>
                                        <div class="dato">
                                            <img src="img/palomitas.png">
                                            <p>77%</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="parrafo">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore magnam reprehenderit unde culpa maiores dolor, accusamus voluptatem asperiores, et repudiandae perferendis modi doloribus qui mollitia at saepe ullam deleniti!</p>
                                    
                                    <h2>Trailer</h2>
                                    <iframe width="703" height="342" src="https://www.youtube.com/embed/Rt2LHkSwdPQ">
                                    </iframe>
                                </div>
                            </section>
                             
                        </div>
                        <div class="subtitulo">
                            <ul>
                                <li><span>Subs:</span></li>
                                <a href="#"><li>en</li></a>
                                <a href="#"><li>es</li></a>
                                <a href="#"><li>de</li></a>
                            </ul>
                        </div>
                        <hr>
                        <div id="similares">
                            <h3>Películas similares</h3>

                            <div class="flex-container">
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                                <div class="similar">
                                    <img src="img/origen.jpg">
                                    <h2>Inception</h2>
                                </div>
                            </div>
                        </div>
                        
                    <!--</div>
                </div>-->