<div class="flex-container">
    <div id="encontrados">
        <p>Lista de favoritos</p>
    </div>
</div>

<div class="flex-container">
    <div class="capa" ng-repeat="film in films track by film.id">
    <div class="datos flex-container">
        <div class="dato">
            <img class="icono" src="img/favorito.png">
            <p>{{film.estrella}}</p>
        </div>

        <div class="dato">
            <i class="fa fa-trash-o" ng-click="removeDesired(film)"></i>
            <p>Eliminar</p>
        </div>

        <div class="dato">
            <i class="fa fa-eye"></i>
            <a href="/film/{{film.id}}"><p>Ver</p></a>
        </div>
    </div>
    <img class="foto" src="{{film.photo}}">
    </div>
</div>